@font-face {
    font-family: League-Gothic;
    src: url("../src/font/League_Gothic/LeagueGothic-Regular-VariableFont_wdth.ttf");
}

@font-face {
    font-family: Inter;
    src: url("../src/font/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: InterBold;
    src: url("../src/font/Inter/static/Inter-Bold.ttf");
}


.pai {
    height: 680px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
   
}
.card {
    height: fit-content;
    width: fit-content;
    background-color: #558C03;
    border: #3b6102 solid 5px;
    border-radius: 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    font-family: League-Gothic;
    margin-left: 7%;
}


.divscroll{
    overflow: auto;
}

.titulo {
    color: white;
    font-size: 70px;
}

.botaoCadastro {
    color: #558C03;
    font-size: 27px;
    height: 50px;
    width: fit-content;
    background-color: white;
    border: #3b6102 solid 5px;
    border-radius: 10px;
    margin-top: 15px;
    font-family: InterBold;
    border-radius: 5px;
    text-decoration: none;
    
}
.botaoCadastro a{
    color: #3b6102;
    text-decoration: none;
}
.formu {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formu legend {
    text-align: center;
}

.formu input {
    height: 30px;
    width: 300px;
}

.botaoCadastro button {
    font-family: InterBold;
    color: white;
    padding: 100px;

}

.botaoCadastro:hover {
    opacity: .7;
    transition: 300ms;
}
.botaoCadastro:focus {
    outline: 2px solid #333;
}

.elemento {
    margin-left: 8px;
    margin-bottom: -50px;
    margin-right: 20px;
}

.dado {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.dado input{
    border: #3b6102 solid 2px;
    border-radius: 10px;
}

.dado label {
    color: inherit;
    text-align: center;
    font-size: 24px;
}

.imagem {
    height: 580px;

    display: flex;
    margin-left: 300px;
    align-items: end;
}