@font-face {
    font-family: League-Gothic;
    src: url("../src/font/League_Gothic/LeagueGothic-Regular-VariableFont_wdth.ttf");
}

@font-face {
    font-family: Inter;
    src: url("../src/font/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: InterBold;
    src: url("../src/font/Inter/static/Inter-Bold.ttf");
}

.fonte1{
    font-family: League-Gothic;
}

.fonte2 {
    font-family: Inter;
    color: #fff;
}

.fonte3 {
    font-family: InterBold;
}

.pai {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('C:/TFruits/Site-Institucional-TFruit/src/img/elemento-calculadora.png'); */
    background-image: url('../src/img/elemento-calculadora.png');
    background-position: center;
    background-size: cover;
}

.card {
    height: 600px;
    width: 600px;
    background-color: #F29F05;
    border: #ca8504 solid 5px;
    border-radius: 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: League-Gothic;

}

.titulo {
    color: white;
    font-size: 70px;
}

.botaoCalcular {
    color: #F29F05;
    font-size: 27px;
    height: 50px;
    width: fit-content;
    padding: 5px 10px;
    background-color: white;
    margin-top: 15px;
    font-family: InterBold;
    border-radius: 10px;
    border: #ca8504 solid 5px;
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.a {
    text-decoration: none;
}

.formu {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formu legend {
    text-align: center;
}

.formu input {
    height: 30px;
    width: 300px;
}

.elemento {
    margin-left: 20%;
    margin-right: 0%;
}

.dado {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.dado label {
    color: inherit;
    text-align: center;
    font-size: 24px;
}

.input{
    border: #ca8504 solid 2px;
    border-radius: 10px;
}

.m-b{
    margin-bottom: 10px;
}

.m-y{
    margin-bottom: 5px;
}

.m-bottom{
    margin-bottom: 30px;
}

.resultado{
    font-family: Inter;
}
